<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="eu.mignot.pathogentracker">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <uses-feature android:name="android.hardware.location.gps" />
  <uses-feature android:name="android.hardware.location.network" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.OverlapSystemBar">
    <activity
      android:name=".onboarding.OnBoarding"
      android:label="@string/title_activity_onboarding"
      android:screenOrientation="portrait"/>
    <activity
      android:name=".surveys.surveys.SurveysActivity"
      android:screenOrientation="portrait">
    </activity>
    <activity
      android:name=".surveys.addsurvey.human.AddHumanSurveyActivity"
      android:parentActivityName=".surveys.surveys.SurveysActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.OverlapSystemBar" />
    <activity
      android:name=".surveys.addsurvey.vector.AddVectorBatchSurveyActivity"
      android:parentActivityName=".surveys.surveys.SurveysActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.OverlapSystemBarVector" />
    <activity
      android:name=".surveys.addsurvey.vector.AddVectorSurveyActivity"
      android:parentActivityName=".surveys.addsurvey.vector.AddVectorBatchSurveyActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.OverlapSystemBarVector" />
    <activity
      android:name=".surveys.surveydetail.VectorBatchDetailActivity"
      android:parentActivityName=".surveys.surveys.SurveysActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.OverlapSystemBarVector" />
    <activity
      android:name=".surveys.surveydetail.HumanDetailActivity"
      android:parentActivityName=".surveys.surveys.SurveysActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.OverlapSystemBar" />
    <activity
      android:name=".surveys.surveydetail.VectorDetailActivity"
      android:parentActivityName=".surveys.surveydetail.VectorBatchDetailActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.OverlapSystemBarVector" />
    <activity
      android:name=".preferences.AppPreferencesActivity"
      android:parentActivityName=".surveys.surveys.SurveysActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.OverlapSystemBar" />

    <provider
      android:name="android.support.v4.content.FileProvider"
      android:authorities="eu.mignot.pathogentracker.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

    <activity
      android:name=".launcher.AppLauncher"
      android:label="@string/title_activity_launcher"
      android:theme="@style/AppTheme.OverlapSystemBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <service
      android:exported="true"
      android:name=".syncservice.FirebaseDataSyncService"
      android:permission="android.permission.BIND_JOB_SERVICE" />
    <service
      android:exported="true"
      android:name=".syncservice.FirebasePhotoSyncService"
      android:permission="android.permission.BIND_JOB_SERVICE" />
  </application>

</manifest>
